{{> head}}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
                <h1>Node JS</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis veniam quisquam distinctio, voluptates assumenda odio pariatur vitae? Ducimus esse nemo praesentium. Iusto ratione neque consequatur at explicabo asperiores odit eum.</p>
        </div>
        <div class="col-4">
            <img src="assests/img/img_node.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{>footer}}